## Yahoo Finance Scraping

In [1]:
# import Dependencies
import pandas as pd
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup as bs
from datetime import datetime as dt
import requests
import json
import re
import datetime as dt
from splinter import Browser
import os
import time
from selenium import webdriver

In [2]:
# set up path and bsoup browser driver
# executable_path = {"executable_path": "chromedriver"}
# browser = Browser("chrome", **executable_path, headless=False)
# Initiate headless driver for deployment
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Build query Url and List of Stocks ticker
yahoo_url = "https://finance.yahoo.com/quote/"
# List of Stocks ticker
# twitterNames = ["CitizensBank", "MorganStanley","CMEGroup","jpmorgan","GoldmanSachs","PayPal","TD_Canada","BMO","scotiabank","usbank","IBKR","AmericanExpress"]
tickers = ["A","AMZN","DIS","NFLX","TSLA"]
# tickers = ["CFG","MS","CME","JPM","GS","PYPL","TD","BMO","BNS","BRK-A","USB","AXP"]
# tickers = ["IBM"]

In [4]:
# create and initialize list 
company_name_list = []
company_desc_list = []
company_tel_list = []
company_addr_list = []
key_execs_n_list = []
key_execs_t_list = []
url_list = []

In [12]:
for ticker in tickers:
    try:
        #Visit Yahoo finance profile page
        url2 = yahoo_url + ticker + '/profile?p=' + ticker
        #print(url2)
        browser.visit(url2)
        #Scrape Financial Data into Soup
        html = browser.html
        soup = bs(html, "html.parser")

        profile1 = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)")
        #company_addr = profile1.contents[1] + profile1.contents[5] 
        #company_addr_list.append(company_addr)
        #print(company_addr)
        #type(data)
        company_name = soup.find("h3", class_="Fz(m) Mb(10px)").text
        company_name_list.append(company_name)
        company_desc = soup.find('p', class_="Mt(15px) Lh(1.6)").text
        company_desc_list.append(company_desc)
        #print(company_desc)
        key_execs_data = soup.find('table', class_='W(100%)').find('tbody').find_all('span')
        #print(key_execs_data[0])
        key_execs_name = key_execs_data[0].contents[1]
        key_execs_title = key_execs_data[1].contents[1]
        key_execs_n_list.append(key_execs_name)
        key_execs_t_list.append(key_execs_title)
        profile = soup.find('p', class_="D(ib) W(47.727%) Pend(40px)").find_all('a')
        company_tel = profile[0].text
        company_tel_list.append(company_tel)
        url = profile[1].text
        url_list.append(url)
        time.sleep(3)
        
    except IndexError as e:
        pass
    except AttributeError as e:
        pass

In [13]:
# convert telephone number to Float
new_tel_list = []
for tel in company_tel_list:
    try:
        new_tel = tel.replace('-', '')
        new_tel_list.append(new_tel)
    except ValueError:
        pass
company_tel_list = new_tel_list
print(company_tel_list)

[]

In [15]:
# Create Profile dataframe
data_dic = {'Ticker':tickers, 'Company_Name':company_name_list, 'Description':company_desc_list}
profile_df = pd.DataFrame.from_dict(data_dic, orient='index')
profile_df = profile_df.transpose()
profile_df

,Ticker,Company_Name,Description
0,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc. provides applicatio..."
1,AMZN,"Amazon.com, Inc.","Amazon.com, Inc. engages in the retail sale of..."
2,DIS,The Walt Disney Company,"The Walt Disney Company, together with its sub..."
3,NFLX,"Netflix, Inc.","Netflix, Inc. provides entertainment services...."
4,TSLA,"Tesla, Inc.","Tesla, Inc. designs, develops, manufactures, l..."
5,None,"Agilent Technologies, Inc.","Agilent Technologies, Inc. provides applicatio..."
6,None,"Amazon.com, Inc.","Amazon.com, Inc. engages in the retail sale of..."
7,None,The Walt Disney Company,"The Walt Disney Company, together with its sub..."
8,None,"Netflix, Inc.","Netflix, Inc. provides entertainment services...."
9,None,"Tesla, Inc.","Tesla, Inc. designs, develops, manufactures, l..."

In [16]:
profile_df.to_csv('data/description_ticker.csv')